<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!-- Begin contact info fragment  -->
<div th:fragment="footer">
    <div class="contact" style="height: 35vh;">
        <!-- title jump -->
        <br><br>
        <div class="row justify-content-center">
            <h4 class="text-center"><a href="https://github.com/Archkitten/group_e">Check out our GitHub repo!</a></h4>
        </div>
        </div>
    </div>
</div>
<!-- End contact info fragment  -->
</body>
</html>