<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>...</title>
</head>

<body>
<!-- Begin navigation fragments -->
<nav id="navbar-background" class="navbar navbar-expand-lg navbar-light nav-light" th:fragment="header">

        <img src="/images/logo2.png" width="50" height="50" alt="missing">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/leaderboard">Leaderboard <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarAbout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nitro Code
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/nitrocode">Java 1</a>
                    <a class="dropdown-item" href="/nitrocode">Java 2</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/freeform">Free Form <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/QUIZ">Free Form <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" id="login" style="color: white" href="/login">Login<span class="sr-only">(current)</span></a>
                <script>
                    console.log("Checking for cookie I am the cookie monster")
                    let parsedCookieList = document.cookie.split(";");
                    let splitCookieList = [];
                    for (let c of parsedCookieList) {
                        [key, value] = c.split("=");
                        splitCookieList[key] = value;
                    }

                    if (!splitCookieList['token']) {
                        document.getElementById("login").innerHTML = "Login";
                    }
                    else {
                        document.getElementById("login").innerHTML = "Logout";
                    }
                    let username = localStorage.getItem("username");
                    if(username) {
                        let loginButton = document.getElementById("login")
                        loginButton.innerHTML = "Logout";
                        loginButton.onclick = function(e) {
                            localStorage.removeItem("username");
                            document.getElementById("login").innerHTML = "Login";
                            loginButton.onclick = function(e) {
                                window.location.href = "/login";
                            }
                            e.preventDefault();
                        }
                    }
                </script>
            </li>

            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/terminal_illness">Linux Training Terminal<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" style="color: white" href="/typing">Typing Speed<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <!-- Navigation bar JavaScript support -->
        <script>
            // Dark Mode Toggle
            let element = document.body;
            let navbar = document.getElementById("navbar-background");
            function set(a, b) {localStorage.setItem(a, b)}
            function get(a) {return localStorage.getItem(a)}

            function darkFunction() {
                element.classList.toggle("dark-mode");
                navbar.classList.toggle("nav-dark");
                navbar.classList.toggle("navbar-dark");
                let darkModeStatus = get('darkModeOn');
                darkModeStatus === 'false' ? set('darkModeOn', 'true') : set('darkModeOn', 'false');
            }

            window.onload = function enableDark() { //this function is called to start on load (see body tags)
                let darkModeStatus = get('darkModeOn');
                if (darkModeStatus === 'true') {
                    element.classList.toggle("dark-mode");
                    navbar.classList.toggle("nav-dark");
                    navbar.classList.toggle("navbar-dark");
                    document.getElementById("darkSwitch").checked = true;
                }
                if (document.title === "TaskE | Leaderboard") {addRows();}
                else if (document.title === "TaskE | To-Do") {generateCards(1, 7);}
            }

            function onHover() {
                document.getElementById('navbar-logo').src = "/static/images/logo.png"
            }
            function offHover() {
                document.getElementById('navbar-logo').src = "/static/images/logo.png"
            }
        </script>
    </div>
</nav>
<!-- Begin navigation fragments -->
</body>
</html>
