<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
    </style>
</head>
<body>

<h1>Sample phrases for students to practice</h1>
<p>1. import java.util.Scanner;

    public class Factorial {

    public static void main(String args[]){.

    2.int n = 100, t1 = 0, t2 = 1;
    System.out.print("Upto " + n + ": ");
    while (t1<= n)
    {
    System.out.print(t1 + " + ");
    int sum = t1 + t2;
    t1 = t2;
    t2 = sum;

    3. public static void main(String[] args) {
    Scanner sc = new Scanner(System.in);
    System.out.print("Enter your Statement: ");
    String str = sc.nextLine();

</p>

</body>
</html>

