.f1{
  font-family: 'JetBrains Mono', monospace;
}

body{
  background-color: #161320;
  margin: 0
  auto;
  //padding-top: 25%;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFFF00;
  padding: 10px;
}