:root {
  --font: 'JetBrains Mono', monospace;
}

* {
  font-family: var(--font);
}

.f1{
  font-family: 'JetBrains Mono', monospace;

}

body{
  background-color: #161320;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
}

.center {

  padding-left: 37%;
  padding-right: 25%;
}

.mainButtons{
  -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
  color: black;
  padding: 5% 24px;
  border-radius: 8px;
}

.b1{
  background-color: #ABE9B3;
}

.b2{
  background-color: #f28fadff;
}



h1{
  padding: 10px 0 5% 25%;
  font-size: 96px;
  color: white;

}

p{
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login{
  background-color: #ABE9B3;
  color: black;
  font-size: 28px;
  width: 250px;
  font-family: var(--font);
  border-radius: 8px;
}

.cursor{
  background-color: orange;
}

.done{
  color: #f68609;
}

.typing{
  margin: 0 auto;
  width: 300px;
}
