body, html {padding: 0; margin: 0; overflow-x: hidden; background-color: var(--background); height: 100%;}

.dracula-mode {
    --background: #282a36;
    --selected: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #bd93f9;
    --red: #bd93f9;
    --yellow: #f1fa8c;
}

:root {
  --content-padding-x: 100px;
  --content-padding-y: 20px;
}

.todo-list {
    width: 100vw;
    height: auto;

}

#page-container {
  margin: var(--content-padding-y) var(--content-padding-x);
}

#page-container .list-format-dropdown ul {
	margin: 0;
	padding-left: 0;
	width: 200px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#page-container .list-format-dropdown ul ul {
	display: none;
}

#page-container .list-format-dropdown ul li:hover > ul {
	display: block;
}

#page-container .list-format-dropdown ul li {
	float: left;
	width: 200px;
	text-align: left;
	border-bottom: 3px solid var(--green); 
}
	
/* #page-container .list-format-dropdown ul li:hover {
	background: #f2f2f2;
} */

#page-container .list-format-dropdown ul li a {
	display: block; 
	padding: 15px 10px;
	color: var(--foreground); 
	text-decoration: none;
}
					
#page-container .list-format-dropdown ul ul {
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

#page-container .list-format-dropdown ul ul li {
	float: none;
	border-bottom: 2px solid #eaeaea; 
	position: relative;
}

#page-container .list-format-dropdown ul ul li a {
	padding: 15px 10px;
	color: #838383;
}	

#page-container .list-format-dropdown ul ul li a:hover {
	background: var(--selected);
	color: var(--foreground);
}	

#page-container #down-triangle {
	float: right;
	width: 0; 
 	height: 0;
 	margin-top: 10px;
 	border-top: 10px solid var(--green);
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
}

#page-container .circle {
	float: right;
	display: inline;
	width: 10px;
 	height: 10px; 
 	margin-top: 5px;
  border: 3px solid var(--green);
  -moz-border-radius: 100%; 
  -webkit-border-radius: 100%; 
  border-radius: 100%;
}

#page-container .secondary-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#page-container .text-color {
	color: var(--foreground);
}

#task-list {
	height: 50%;
}

#task-list textarea {
	resize: vertical;
}

#task-list .card-container {
	display: flex;
	width: 100%;
	height: 200px;
	margin: 10px 0;
}

#task-list .task-card {
	width: 100%;
	--padding: 3px 13px 13px 13px;
	height: calc(100% - var(--padding) * 2);
	background-color: var(--comment);
	margin: 0 3px;
	border-radius: 25px;
	/* border-radius: 10px; */
	padding: var(--padding);
}

.task-card {
	overflow: scroll;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none;
}
.task-card::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.sub-card {
	width: 100%;
	padding: 0px 0px 5px 7px;
	margin-bottom: 3px;
	overflow: auto;
	background-color: var(--selected);
	border-radius: 10px;
	transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	animation: slide-up 0.4s ease;
}



.sub-card:hover {
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	background-color: var(--background);
}

.date-card {
	width: 100%;
	text-align: center;
}

.cancel-btn {
	right: 7px;
}

.modal-content {
	background-color: var(--selected) !important;
	border-radius: 25px !important;
	border: 3px solid var(--comment) !important;
}
.modal-header {border-bottom: none !important;}
.modal-footer {border-top: none !important;}
input, label, textarea {
	display:block;
}
.form-control {
	background-color: var(--background) !important;
	border-radius: 10px !important;
	border: none !important;
	color: var(--pink) !important;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}