<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | About Us</title>
    <!-- End of head content specific to page -->
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>About Us</strong></h1>
        <h3><strong>Akhil</strong></h3>
        <ol style="list-style: none;"
            <li>Hi! I'm Akhil Guntur, a Del Norte student taking AP Computer Science A.</li>
        </ol>
        <h3><strong>Arch</strong></h3>
        <ol style="list-style: none;">
            <li>Hi, I'm Arch. My previous commit vanished in a puff of smoke, so this is now my About Me. Yay!</li>
        </ol>
        <h3><strong>Jonathan</strong></h3>
        <ol style="list-style: none;">
            <li>A little bit about us</li>
        </ol>
        <h3><strong>Michael</strong></h3>
        <ol style="list-style: none;">
            <li>A little bit about us</li>
        </ol>

    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>