<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | About Arch</title>
    <!-- End of head content specific to page -->
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>About Arch</strong></h1>

        <h3><strong>Arch</strong></h3>
        <ol style="list-style: none;">
            <li>Hi, I'm Arch. My previous commit vanished in a puff of smoke, so this is now my About page. Yay!</li>
        </ol>


    <!-- Fibonacci Algorithm -->
    <div class="center-block" style="margin: 2% 3% 3%; font-family: gilroy,serif; background-color:black;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Half life Algorithm</strong></h1>
        </div>

        <!-- Form and Action -->
        <div class="jumbotron text-center row" style="background-color:black;">
            <!-- Input -->
            <div class="col-md-6">
                <h3>How many half lives of Carbon-14?</h3>
                <img class="img-responsive py-3" th:src="@{/images/among_us.png}" alt="" width="50%" height="Auto">
                <form id="fibForm" action="/aboutArch" method="GET" >
                    <input name="number" id="number" type="number" min="0" max="100" >
                    <button>Go!</button>
                </form>
            </div>
            <!-- Output/Result -->
            <div class="col-md-6">
                <h3>Algorithm comparison</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Method</th>
                        <th scope="col">TimeInNano</th>
                        <th scope="col">Nth</th>
                        <th scope="col">Array</th>
                    </tr>
                    <td th:text="${halfLifeFor}" style="color:black;"></td>
                    <tr th:each="halfLife : ${halfLifeAlgorithmList}">
                        <td th:text="${halfLife.getMethod()}"></td>
                        <td th:text="${halfLife.getTotalTimeInNano()}"></td>
                        <td th:text="${number}"></td>
                        <td th:text="${halfLife.getResult()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

        <!-- Greenscale -->
        <div class="container">
            <h1 class="text-center">RGB values within an Image</h1>
            <p><small><a href="/image/grayscale">Grayscale</a></small></p>
            <div class="row justify-content-md-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Meta Data</th>
                        <th>Image</th>
                        <th>Samples of Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ii: ${lii}">
                        <td>
                            <div th:text="${ii.getFile()}">File name</div>
                            <div th:text="'(' + ${ii.getHeight()} + ',' + ${ii.getWidth()} + ')'">Height,Width</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" th:src="@{${ii.getFile()}}" alt="" src="${ii.getFile()}" width=128 height="Auto">
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Row</th>
                                        <th>Column</th>
                                        <th>RGB</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <span th:each="row: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                            <td th:text="${ii.getScaled_height(row)}">row</td>
                                            <td th:text="${ii.getScaled_width(col)}">column</td>
                                            <td th:text="${ii.getRGB(row,col)}">cell</td>
                                            <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                            <td th:text="${ii.getBinary(row,col)}">cell</td>
                                        </tr>
                                    </span>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <!-- Greet -->
        <div class="contact" style="height: 35vh;">
            <div class="row justify-content-left" style="margin: 2%;">
                <form action="/aboutArch" method="GET" id="greetForm">
                    <div>
                        <label for="greetField">Type a greeting name?</label>
                        <input name="name" id="greetField">
                        <button>Greetings!</button>
                        <p th:text="'Greetings, ' + ${name} + '!'"></p>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- End of body content specific to page -->
</div></body>

</html>