<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | About Akhil</title>
    <!-- End of head content specific to page -->
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>About Akhil</strong></h1>

        <div class="contact" style="height: 35vh;">
            <div class="row justify-content-left" style="margin: 2%;">
                <form action="/aboutAkhil" method="GET" id="greetForm">
                    <div>
                        <label for="greetField">Type a greeting name?</label>
                        <input name="name" id="greetField">
                        <button>Greetings!</button>
                        <p th:text="'Greetings, ' + ${name} + '!'"></p>
                    </div>
                </form>
            </div>
        </div>

        <a href="/aboutAkhil#algo-comp"><h3 id="algo-comp"><strong>Algorithm Comparison</strong></h3></a>
        <h6>Powers of e</h6>
        <div class="row justify-content-left" style="margin: 2%;">
            <form id="eForm" action="/aboutAkhil#algo-comp" method="GET" >
                <input name="number" id="eField" type="number" min="2" max="92" >
                <button class="btn btn-primary" style="background-color: var(--lpurple);">Go!</button>
            </form>
        </div>
        <div class="container p-3 my-3 text-white" style="box-shadow: 0 2px 4px 0 rgba(var(--lcyan), 1); background-color: var(--dracgrey); border-radius: 10px;">
            <div class="row">
                <div class="col-sm-1" style="color: #8be9fd">Method</div>
                <div class="col-sm-1" style="color: #50fa7b">Input</div>
                <div class="col-sm-1" style="color: #8be9fd">Time</div>
                <div class="col-sm-2" style="color: #50fa7b">Output</div>
                <div class="col-sm-7" style="color: #8be9fd">List</div>
            </div>
        </div>
        <div class="container p-3 my-3 fg-elm text-white ranks" th:each="item : ${eList}">
            <div class="row">
                <div style="color: #8be9fd" class="col-sm-1" th:text="${item.getName()}"></div>
                <div style="color: #50fa7b" class="col-sm-1" th:text="${number}"></div>
                <div style="color: #8be9fd" class="col-sm-1" th:text="${item.getTimeElapsed()}"></div>
                <div style="color: #50fa7b" class="col-sm-2" th:text="${item.getNth()}"></div>
                <div style="color: #8be9fd" class="col-sm-7" th:text="${item.getList()}"></div>
            </div>
        </div>

        <h3><strong>Akhil</strong></h3>
        <ol style="list-style: none;">
        <li>Hi! I'm Akhil Guntur, a Del Norte student taking AP Computer Science A.</li>
        </ol>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>