<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | Arch Akhil ASCII</title>
    <!-- End of head content specific to page -->
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>Arch Akhil ASCII</strong></h1>
        <div th:text="${output}"></div>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>
