<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <!-- Start of head content specific to page -->
        <title id="title">TaskE | Color Scale</title>
        <!-- End of head content specific to page -->
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <div id="spring_intro" class="articles" style="margin: 30px;">
            <div class="container">
                <form action="/asciiArt" method="POST" id="uploadForm" enctype="multipart/form-data" onsubmit="uploadfile()">
                    <div class="form-group row">
                        <div class="col-4">
                            <label class="form-label" for="inputFile">Image file</label>
                            <input class="form-control" type="file" id="inputFile" name="inputFile" />
                            <label class="form-label" for="width">Width</label>
                            <input class="form-control" type="text" id="width" name="swidth" />
                            <label class="form-label" for="height">Height</label>
                            <input class="form-control" type="text" id="height" name="sheight" />
                        </div>
                    </div>
                    <input type="submit" value="Submit" />
                </form>
                <pre id="ascii" style="font-size: 7px; line-height: 7xp; font-family: Consolas; color: var(--white);">
                </pre>

                <img id="imageDisplay" style="max-width: 1000px; max-height: 1000px;" />
                <script>
                    let form = document.getElementById("uploadForm");
                    let imageOutput = document.getElementById("ascii");
                    let fileInput = document.getElementById('inputFile');

                    form.addEventListener("submit", e => e.preventDefault());

                    let widthInput = document.getElementById('width');
                    let heightInput = document.getElementById('height');

                    let imageDisplay = document.getElementById('imageDisplay');
                    imageDisplay.onload = function() {
                        // console.log(imageDisplay.width, imageDisplay.height);

                        // reverse engineered from a website idk which one (god dawn that took long)
                        widthInput.value = Math.floor(imageDisplay.width * 210 / 512 * 0.8);
                        heightInput.value = Math.floor(imageDisplay.height * 105 / 512 * 0.8);
                    }

                    async function uploadfile() {

                        let data = await (await fetch('/asciiArt', {
                            method: 'POST',
                            body: new FormData(form)
                        })).text();
                        imageOutput.textContent = data;
                    }

                    fileInput.onchange = function(e) {
                        // if (!window.FileReader || !window.XMLHttpRequest) return; // no proper supports for browser

                        let file = e.target.files[0];
                        let reader = new FileReader();
                        reader.onload = function(event) {
                            imageDisplay.src = event.target.result;
                        }

                        reader.readAsDataURL(file);
                    }
                </script>
            </div>
        </div>
    </div>
</body>

</html>