<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata" th:remove="tag">
        <!-- Start of head content specific to page -->
        <title id="title">TaskE | Color Scale</title>
        <!-- End of head content specific to page -->
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">
        <div id="spring_intro" class="articles" style="margin: 30px;">
            <div class="container">
                <div class="border border-success p-5" id="colorBox">
                    <h1 class="d-inline-block">
                        <strong id="strong">Color Scale</strong>
                        <hr class="bg-success border-success" style="border:3px solid;" />
                    </h1>
                    <form action="/colorScale" method="POST" id="uploadForm" enctype="multipart/form-data" onsubmit="uploadfile()">
                        <div class="form-group row">
                            <div class="col-4">
                                <label class="form-label" for="inputFile">Image file</label>
                                <input class="form-control" type="file" id="inputFile" name="file" />
                            </div>
                        </div>
                        <div style="padding: 10px">
                            <button class="btn btn-outline-light" onclick="enableBritish()">Bri''ish Mode 🇬🇧</button>
                            <button class="btn btn-outline-light" onclick="enableAmerican()">'Murican Mode 🇺🇸</button>
                        </div>
                        <div class="colorful-buttons">
                            <input id="gray" type="radio" class="radio" name="color" value="gray" /> <label class="btn btn-secondary btn-outline-light" id="grayLabel" for="gray">Gray</label>
                            <input id="red" type="radio" class="radio" name="color" value="red" /> <label class="btn btn-danger btn-outline-light" for="red">Red</label>
                            <input id="orange" type="radio" class="radio" name="color" value="orange" /> <label class="btn btn-orange btn-outline-light" for="orange">Orange</label>
                            <input id="yellow" type="radio" class="radio" name="color" value="yellow" /> <label class="btn btn-warning btn-outline-light" for="yellow">Yellow</label>
                            <input id="green" type="radio" class="radio" name="color" value="green" /> <label class="btn btn-success btn-outline-light" for="green">Green</label>
                            <input id="cyan" type="radio" class="radio" name="color" value="cyan" /> <label class="btn btn-info btn-outline-light" for="cyan">Cyan</label>
                            <input id="blue" type="radio" class="radio" name="color" value="blue" /> <label class="btn btn-primary btn-outline-light" for="blue">Blue</label>
                            <input id="indigo" type="radio" class="radio" name="color" value="indigo" /> <label class="btn btn-indigo btn-outline-light" for="indigo">Indigo</label>
                            <input id="purple" type="radio" class="radio" name="color" value="purple" /> <label class="btn btn-purple btn-outline-light" for="purple">Purple</label>
                            <input id="magenta" type="radio" class="radio" name="color" value="magenta" /><label class="btn btn-magenta btn-outline-light" for="magenta">Magenta</label>
                        </div>

                    </form>
                    <img id="image-output" style="max-width: 70%; padding-top: 15px; padding-bottom: 10px" alt="" />
                    <script>
                        let form = document.getElementById("uploadForm");
                        let imageOutput = document.getElementById("image-output");
                        const PNGbase64Magic = "data:image/png;base64,"
                        form.addEventListener("submit", e => e.preventDefault());
                        let radio = document.getElementsByClassName("radio");

                        for (let i of radio) {
                            i.setAttribute('onclick', 'uploadfile()');
                        }

                        async function uploadfile() {

                            let data = await (await fetch('/colorScale', {
                                method: 'POST',
                                body: new FormData(form)
                            })).text();

                            imageOutput.src = PNGbase64Magic + data;
                        }

                        function enableBritish() {
                            document.getElementById("title").innerText = "TaskE | Colour Scale";
                            document.getElementById("strong").innerText = "Colour Scale";
                            document.getElementById("grayLabel").innerText = "Grey";
                        }
                        function enableAmerican() {
                            document.getElementById("title").innerText = "TaskE | Color Scale";
                            document.getElementById("strong").innerText = "Color Scale";
                            document.getElementById("grayLabel").innerText = "Gray";
                        }

                    </script>
                    <table id="stupidTable" class="table">
                        <thead>
                        <tr>
                            <th>Meta Data</th>
                            <th>Image</th>
                            <th>Samples of Data</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ii: ${lii}">
                            <td>
                                <div th:text="${ii.getFile()}">File name</div>
                                <div th:text="'(' + ${ii.getHeight()} + ',' + ${ii.getWidth()} + ')'">Height,Width</div>
                            </td>
                            <td>
                                <img class="img-responsive py-3" th:src="@{${ii.getFile()}}" alt="" src="${ii.getFile()}" width=128 height="Auto">
                            </td>
                            <td>
                                <div class="overflow-auto" style="height: 256px">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Row</th>
                                            <th>Column</th>
                                            <th>RGB</th>
                                            <th>Hex Code</th>
                                            <th>Binary</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <span th:each="row: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                            <td th:text="${ii.getScaled_height(row)}">row</td>
                                            <td th:text="${ii.getScaled_width(col)}">column</td>
                                            <td th:text="${ii.getRGB(row,col)}">cell</td>
                                            <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                            <td th:text="${ii.getBinary(row,col)}">cell</td>
                                        </tr>
                                    </span>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
