<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>NitroCode | Home</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>Nitro coder</strong></h1>
        <h4>What is Nitro-coder?</h4>
        <h6>TaskE was designed as a to-do list project, built to keep track of assignments with the help of your friends.</h6>
        <h6>Our planned features are to have:</h6>
        <ol>
            <li>Maven project that can run and deployed.</li>
            <li>Create the landing page.</li>
            <li>Creat nitro typing page.</li>
            <li>Creat login.</li>
            <li>Add leaderboard.</li>
        </ol>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>