<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | Leaderboard</title>
    <!-- End of head content specific to page -->
</div></head>

<style>
</style>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>Leaderboard</strong></h1>

        <select name="scope" id="scope" class="form-select" style="width: 100px">
            <option value="global">Global</option>
            <option value="district">District</option>
            <option value="school">School</option>
        </select>
        <form onsubmit="return addToItems(document.getElementById('addRowField').value);" method="GET" id="addRowForm">
            <div>
                <input id="addRowField" placeholder="username;score;points">
                <button class="btn" style="background-color:var(--lblue);color:var(--white);">Add Row</button>
            </div>
        </form>

        <div class="container p-3 my-3 text-white" style="box-shadow: 0 2px 4px 0 rgba(var(--lcyan), 1); background-color: var(--dracgrey); border-radius: 10px;">
            <div class="row">
                <div class="col-sm-5">User</div>
                <div class="col-sm-5">Points</div>
                <div class="col-sm-2">Completion</div>
            </div>
        </div>

        <div th:each="user: ${arr}" class="container p-3 my-3 fg-elm text-white ranks">
            <div class="row">
                <div th:text="${user.get('email')}" class="subrank col-sm-5"></div>
                <div th:text="${user.get('points')}" class="subrank col-sm-5"></div>
                <div th:text="${user.get('tasksCompleted')}" class="subrank col-sm-2"></div>
            </div>
        </div>

    </div>

    <script>
        /*
        var items = [
            ["User 1", "1600", "16/16"],
            ["User 2", "800", "10/11"],
            ["User 3", "100", "1/2"],
            ["User 4", "0", "0/0"]
        ]

        function insertAfter(newNode, existingNode) {
            existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
        }

        function addRows() {
            for (let ii = 1; ii < items.length; ii++) {
                let rank = document.getElementsByClassName("ranks")[0];
                insertAfter(rank.cloneNode(true), rank);
            }
            for (let ii = 0; ii < items.length; ii++) {
                var con = document.getElementsByClassName("ranks")[ii];
                for (let jj = 0; jj < items[ii].length; jj++) {
                    con.getElementsByClassName("subrank")[jj].innerHTML = items[ii][jj];
                }
            }
        }

        function addToItems(a) {
            items.push((a+'').split(";"));
            let addRank = document.getElementsByClassName("ranks")[items.length-2];
            insertAfter(addRank.cloneNode(true), addRank);
            var con = document.getElementsByClassName("ranks")[items.length-1];
            for (let jj = 0; jj < items[items.length-1].length; jj++) {
                con.getElementsByClassName("subrank")[jj].innerHTML = items[items.length-1][jj];
            }
            return false;
        }
    */
    </script>

    <!-- End of body content specific to page -->
</div>



</body>

</html>
