<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>NitroCode | Leaderboard</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <table>
            <tr>
                <th>Username</th>
                <th>Fastest Time</th>
            </tr>
            <tr>
                <td>Me</td>
                <td>0.01 seconds</td>
            </tr>
        </table>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>