<!-- maven template login -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}" lang="en">

<head>
    <div layout:fragment="metadata">
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </div>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="active" id="login-form-link">Login</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="#" id="register-form-link">Register</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="message"></div>
                                    <form id="login-form" action="login" method="post" role="form" style="display: block;">
                                        <div class="form-group">
                                            <input type="text" name="username" id="login_username" tabindex="1" class="form-control" placeholder="Username" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="login_password" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group text-center">
                                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                        <a href="javascript:alert('not implemented');" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="register-form" action="register" method="post" role="form" style="display: none;">
                                        <div class="form-group">
                                            <input type="text" name="username" id="register-username" tabindex="1" class="form-control" placeholder="Username" value="">
                                        </div>
                                        <!-- <div class="form-group">
                                            <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                        </div> -->
                                        <div class="form-group">
                                            <input type="text" name="nickname" id="nickname" tabindex="1" class="form-control" placeholder="nickname" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="register-password" tabindex="2" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            (function() {
                let loginForm = document.getElementById("login-form");
                loginForm.onsubmit = async function(e) {
                    e.preventDefault();

                    let r = await (
                        await fetch(
                            "/api/login", {
                                method: "POST",
                                body: new FormData(loginForm)
                            })
                    ).json();

                    handleResponse(r);
                }

                let registerForm = document.getElementById("register-form");
                registerForm.onsubmit = async function(e) {
                    e.preventDefault();

                    // check if username and password are filled
                    let username = document.getElementById("register-username").value;
                    let password = document.getElementById("register-password").value;
                    if (username.length == 0 || password.length == 0) {
                        alert("Username and password are required");
                        return;
                    }

                    // checkk confirm password and password match
                    let confirmPassword = document.getElementById("confirm-password").value;
                    if (confirmPassword.length == 0 || confirmPassword !== password) {
                        alert("Password and confirm password do not match");
                        return;
                    }

                    let r = await (
                        await fetch(
                            "/api/register", {
                                method: "POST",
                                body: new FormData(registerForm)
                            })
                    ).json();

                    handleResponse(r);
                }

                function handleResponse(r) {
                    console.log(r);
                    if (r.status == 200) {
                        // window.location.href = "/";
                    } else {
                        displayMessage(r.message);
                    }
                }

                function displayMessage(m, classStyle = "red") {
                    let message = document.getElementById("message");
                    if (message.classList.contains(classStyle)) {
                        message.classList.remove(classStyle);
                    }

                    message.classList.add(classStyle);
                    message.innerHTML = m;
                }

                // buttons
                let loginFormLink = document.getElementById("login-form-link");
                let registerFormLink = document.getElementById("register-form-link");
                let loginFormDiv = document.getElementById("login-form");
                let registerFormDiv = document.getElementById("register-form");

                loginFormLink.onclick = function() {
                    loginFormDiv.style.display = "block";
                    registerFormDiv.style.display = "none";
                    loginFormLink.className = "active";
                    registerFormLink.className = "";
                }

                registerFormLink.onclick = function() {
                    loginFormDiv.style.display = "none";
                    registerFormDiv.style.display = "block";
                    loginFormLink.className = "";
                    registerFormLink.className = "active";
                }
            })();
        </script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.js"></script> -->
    </div>
</body>

</html>