<!DOCTYPE html>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- Hack 1: variable bits and variables for IMAGE_ON/IMAGE_OFF should come from backend Model -->
<!-- Hack 2: have input to allow user to customize bits, 8 or 24 are key for remainder -->
<!-- Hack 3: add a character display to text when 8 bits, determine if printable or not printable -->
<!-- Hack 4: add a color code and display color when 24 bits, think about display on this one -->
<!-- Hack 5: do your own thing -->
<!-- Hack 6: fix all warnings -->

<!-- <head> -->
    <title>binary page</title>
<!-- </head> -->

<!-- <body> -->
<div layout:fragment="content" th:with="answer=${myAnswer}" th:remove="tag">
    <h1 class="text-center">Sin algorithm</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <form action="/SinAlgorithm" method="GET" id="binaryForm">
            <div>
                <label for="binaryField">Type in a decimal number for the angle!</label>
                <input name="angle" id="binaryField">
                <button>Calculate!</button>
            </div>
            </form>
        </div>

        <div id="answer"></div>
        
        <hr />
    </div>
    <script>
        const ANSWER = [[${answer}]];
        const ANGLE =  [[${angle}]];

        let answerContainer = document.getElementById("answer");
        answerContainer.innerText = `sin(${ANGLE}) ≈ ${ANSWER}`;
    </script>
</div>
<!-- </body> -->
</html>