<!DOCTYPE html>
<html lang="en">

<!--https://itnext.io/how-to-create-interactive-terminal-like-website-888bb0972288-->

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
  <meta charset="UTF-8">
  <title>NitroCode | Terminal</title>
</head>

<body>
<script>
  (function() {
    class rootDir {
      constructor() {
        this.name = "/";
        this.absolutePath = "/";
        this.children = {};
      }
    }

    class file {
      constructor(name, parent) {
        this.name = name;
        this.parent = parent;
        this.absolutePath = this.parent.absolutePath + this.name
      }
    }

    class directory extends file {
      constructor(name, parent) {
        super(name, parent);
        this.children = {};
      }
    }

    class fileSystem {
      constructor() {
        this.rootDir = new rootDir();
        this.pwd = this.rootDir;
        this.createDefaultFolders();
      }

      createDefaultFolders() {
        // empty
      }
    }

    let fileSys = new fileSystem();

    $('body').terminal({

      hello: function(what) {
        this.echo('Hello, ' + what +
                '. Wellcome to this terminal.');
      },
      cat: function(what) {
        this.echo('Hello, ' + what +
                '. Wellcome to this terminal.');
      },
      pwd: function() {
        this.echo(fileSys.pwd.absolutePath);
      },
      ls: function() {
        for(let i in fileSys.pwd.children) {
          this.echo(i);
        }
      },
      mkdir: function(dir) {
        let parent = fileSys.pwd;
        fileSys.pwd.children[dir] = new directory(dir, parent)
      },
      cd: function(path) {
        let parent = fileSys.pwd;
        fileSys.pwd = parent.children[path]
      }

    }, {
      greetings: 'My First Web Terminal'
    });

  })();


</script>


</body>

</html>