<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>TaskE | To-Do</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/todoMain.css" th:href="@{/css/todoMain.css}" media="all" />
    <!-- End of head content specific to page -->
</div></head>
<body class="dracula-mode">

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="spring_intro" class="articles" style="margin: 30px;">
        <h1><strong>To-Do List</strong></h1>

        <!--<template id="popup-template">
            <div>
                <fieldset>
                    <legend>New Task</legend>
                    <h2>Task Title</h2>
                    <input type="text" class="TTitle" name="TTitle"><br><br>
                    <h2>Contents</h2>
                    <textarea class="TContents" name="TContents"></textarea><br><br>
                    <h2>Date</h2>
                    <input type="date" class="TDate" name="TDate"><br><br>
                    <input type="submit" value="Submit" onclick="addTask(this)">
                    <input type="submit" value="Cancel" onclick="cancel(this)">
                </fieldset>
            </div>
        </template>-->


        <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><strong>New Task</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/todoPost" method="POST" id="todoForm">
                            <div class="form-group">
                                <label for="TTitle" class="col-form-label">Task Name</label>
                                <input id="TTitle" type="text" class="TTitle form-control" name="TTitle">
                            </div>
                            <div class="form-group">
                                <label for="TContents" class="col-form-label">Contents</label>
                                <textarea id="TContents" class="TContents form-control" name="TContents"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="TDate" class="col-form-label">Date</label>
                                <input id="TDate" type="date" class="TDate form-control" name="TDate">
                                <script>
                                    document.getElementById("TDate").valueAsDate = new Date();
                                </script>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" value="Submit" onclick="addTask()" data-dismiss="modal">Submit</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="taskDisplay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="taskLabel"><strong>Edit Task</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="taskName" class="col-form-label">Task Name</label>
                                <input id="taskName" type="text" class="TTitle form-control" name="TTitle">
                            </div>
                            <div class="form-group">
                                <label for="taskContents" class="col-form-label">Contents</label>
                                <textarea id="taskContents" class="TContents form-control" name="TContents"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="taskDate" class="col-form-label">Date</label>
                                <input id="taskDate" type="date" class="TDate form-control" name="TDate">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" value="Submit" onclick="addTask()" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="todo-page">
            <section id="page-container">
                <div class="secondary-nav">
                    <nav class="list-format-dropdown">
                        <ul id="format-dropdown">
                            <li><a href="#">week<div id="down-triangle"></div></a>
                                <ul>
                                    <li><a href="#">day<div class="circle"></div></a></li>
                                    <li><a href="#">week<div class="circle"></div></a></li>
                                    <li><a href="#">month<div class="circle"></div></a></li>
                                    <li><a href="#">year<div class="circle"></div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <div>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" onclick="clearTasks()">- Clear all</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTaskModal">+ New task</button>
                    </div>
                </div>

                <div id="task-list">
                </div>
            </section>
        </div>

        <script src="./js/todo.js" th:src="@{/js/todo.js}"></script>


    </div>
</div></body>

</body>
</html>
