<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>NitroCode | Leaderboard</title>
</div></head>
<body><div layout:fragment="content" th:remove="tag">
<div class="stats" id="stats"></div>
    <pre>
<div class="typer"  id="typing"></div>
        </pre>
<!--    <p id="html"></p>-->

<script>
    const texts = ['public class Main {\n\tpublic static void main(String[] args) {\n\t\tSystem.out.println("Hello World");\n\t}\n}',
        'if (20 > 18) {\n\tSystem.out.println("20 is greater than 18");\n}',
        'for (int i = 0; i < 5; i++) {\n\tSystem.out.println(i);\n}',
        'int i = 0;\nwhile (i < 5) {\n\tSystem.out.println(i);\n\ti++;\n}',
        'int i = 0;\ndo {\n\tSystem.out.println(i);\n\ti++;\n} while (i < 5);',
        'String[] cars = {"Volvo", "BMW", "Ford", "Mazda"};\ncars[0] = "Opel";\nSystem.out.println(cars[0]);\nSystem.out.println(cars.length);',
    ];

    const typingDiv = document.getElementById("typing")

    const randomNumber = Math.floor(Math.random() * texts.length);
    const text = texts[randomNumber]
    // const html = document.getElementById("html")
    // const text = html.textContent

    const characters = text.split('').map((char => {
        const span = document.createElement("span");
        span.innerText = char;
        typingDiv.appendChild(span);
        return span;
    }))

    let cursorIndex = 0;
    let  cursorCharacter = characters[cursorIndex];
    cursorCharacter.classList.add('cursor');

    let startTime = null;
    let endTime = null;

   document.addEventListener('keydown', (event) => {
       let {key} = event;
        console.log(key);
        if(!startTime){
            startTime = new Date();
        }
       if (key === 'Enter') {
           cursorCharacter = characters[cursorIndex += 1];
       }
       else if (key === 'Tab') {
           cursorCharacter.classList.remove('cursor');
           cursorCharacter = characters[cursorIndex += 1];
           event.preventDefault();
       }
        else if(key === cursorCharacter.innerText){  //
            cursorCharacter.classList.remove('cursor');
            cursorCharacter.classList.add("done");
            cursorCharacter = characters[++cursorIndex];

        }
        if(cursorIndex >= characters.length){
            endTime = new Date();
            const delta = endTime - startTime;
            const seconds = delta / 1000;
            const numberOfWords = text.split(" ").length;
            const wps = numberOfWords / seconds;
            const wpm = wps * 60.0;
            document.getElementById('stats').innerText = `wpm = ${wpm}`
            //display wpm
            document.removeEventListener("keydown", keyListener);
            return;
        }
        cursorCharacter.classList.add("cursor");
    })



</script>
</div></body>
</html>